<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.dao.EmpPowerMapper" >
  <resultMap id="BaseResultMap" type="com.icss.bean.EmpPower" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="purl" property="purl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, purl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emp_power
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp_power
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icss.bean.EmpPower" >
    insert into emp_power (pid, purl)
    values (#{pid,jdbcType=INTEGER}, #{purl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icss.bean.EmpPower" >
    insert into emp_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="purl != null" >
        purl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="purl != null" >
        #{purl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.bean.EmpPower" >
    update emp_power
    <set >
      <if test="purl != null" >
        purl = #{purl,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.bean.EmpPower" >
    update emp_power
    set purl = #{purl,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>