<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.dao.ViewSigpayinfoMapper" >
  <resultMap id="BaseResultMap" type="com.icss.bean.ViewSigpayinfo" >
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="VARCHAR" />
    <result column="creceivables" property="creceivables" jdbcType="DECIMAL" />
    <result column="cremark" property="cremark" jdbcType="VARCHAR" />
    <result column="crid" property="crid" jdbcType="INTEGER" />
    <result column="crname" property="crname" jdbcType="VARCHAR" />
    <result column="crsex" property="crsex" jdbcType="VARCHAR" />
    <result column="crschool" property="crschool" jdbcType="VARCHAR" />
    <result column="crgrade" property="crgrade" jdbcType="VARCHAR" />
    <result column="crmajor" property="crmajor" jdbcType="VARCHAR" />
    <result column="crtel" property="crtel" jdbcType="VARCHAR" />
    <result column="cronline" property="cronline" jdbcType="VARCHAR" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="btid" property="btid" jdbcType="INTEGER" />
    <result column="btname" property="btname" jdbcType="VARCHAR" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="esex" property="esex" jdbcType="VARCHAR" />
    <result column="did" property="did" jdbcType="INTEGER" />
    <result column="ebrithday" property="ebrithday" jdbcType="VARCHAR" />
    <result column="entrytime" property="entrytime" jdbcType="VARCHAR" />
    <result column="departuretime" property="departuretime" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="ecard" property="ecard" jdbcType="VARCHAR" />
    <result column="etel" property="etel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="ecardid" property="ecardid" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="ejob" property="ejob" jdbcType="VARCHAR" />
    <result column="emariage" property="emariage" jdbcType="VARCHAR" />
    <result column="eaddress" property="eaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, ctime, creceivables, 
      cremark, crid, crname, 
      crsex, crschool, crgrade, 
      crmajor, crtel, cronline, 
      aid, aname, btid, btname, 
      eid, ename, esex, did, 
      ebrithday, entrytime, departuretime, 
      pid, ecard, etel, email, 
      ecardid, education, ejob, 
      emariage, eaddress
  </sql>
  <insert id="insert" parameterType="com.icss.bean.ViewSigpayinfo" >
    insert into view_sigpayinfo (cid, ctime, creceivables, 
      cremark, crid, crname, 
      crsex, crschool, crgrade, 
      crmajor, crtel, cronline, 
      aid, aname, btid, btname, 
      eid, ename, esex, did, 
      ebrithday, entrytime, departuretime, 
      pid, ecard, etel, email, 
      ecardid, education, ejob, 
      emariage, eaddress)
    values (#{cid,jdbcType=INTEGER}, #{ctime,jdbcType=VARCHAR}, #{creceivables,jdbcType=DECIMAL}, 
      #{cremark,jdbcType=VARCHAR}, #{crid,jdbcType=INTEGER}, #{crname,jdbcType=VARCHAR}, 
      #{crsex,jdbcType=VARCHAR}, #{crschool,jdbcType=VARCHAR}, #{crgrade,jdbcType=VARCHAR}, 
      #{crmajor,jdbcType=VARCHAR}, #{crtel,jdbcType=VARCHAR}, #{cronline,jdbcType=VARCHAR}, 
      #{aid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, #{btid,jdbcType=INTEGER}, #{btname,jdbcType=VARCHAR}, 
      #{eid,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{esex,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER}, 
      #{ebrithday,jdbcType=VARCHAR}, #{entrytime,jdbcType=VARCHAR}, #{departuretime,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{ecard,jdbcType=VARCHAR}, #{etel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{ecardid,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{ejob,jdbcType=VARCHAR}, 
      #{emariage,jdbcType=VARCHAR}, #{eaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icss.bean.ViewSigpayinfo" >
    insert into view_sigpayinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="creceivables != null" >
        creceivables,
      </if>
      <if test="cremark != null" >
        cremark,
      </if>
      <if test="crid != null" >
        crid,
      </if>
      <if test="crname != null" >
        crname,
      </if>
      <if test="crsex != null" >
        crsex,
      </if>
      <if test="crschool != null" >
        crschool,
      </if>
      <if test="crgrade != null" >
        crgrade,
      </if>
      <if test="crmajor != null" >
        crmajor,
      </if>
      <if test="crtel != null" >
        crtel,
      </if>
      <if test="cronline != null" >
        cronline,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="btid != null" >
        btid,
      </if>
      <if test="btname != null" >
        btname,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="esex != null" >
        esex,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="ebrithday != null" >
        ebrithday,
      </if>
      <if test="entrytime != null" >
        entrytime,
      </if>
      <if test="departuretime != null" >
        departuretime,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="ecard != null" >
        ecard,
      </if>
      <if test="etel != null" >
        etel,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="ecardid != null" >
        ecardid,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="ejob != null" >
        ejob,
      </if>
      <if test="emariage != null" >
        emariage,
      </if>
      <if test="eaddress != null" >
        eaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="creceivables != null" >
        #{creceivables,jdbcType=DECIMAL},
      </if>
      <if test="cremark != null" >
        #{cremark,jdbcType=VARCHAR},
      </if>
      <if test="crid != null" >
        #{crid,jdbcType=INTEGER},
      </if>
      <if test="crname != null" >
        #{crname,jdbcType=VARCHAR},
      </if>
      <if test="crsex != null" >
        #{crsex,jdbcType=VARCHAR},
      </if>
      <if test="crschool != null" >
        #{crschool,jdbcType=VARCHAR},
      </if>
      <if test="crgrade != null" >
        #{crgrade,jdbcType=VARCHAR},
      </if>
      <if test="crmajor != null" >
        #{crmajor,jdbcType=VARCHAR},
      </if>
      <if test="crtel != null" >
        #{crtel,jdbcType=VARCHAR},
      </if>
      <if test="cronline != null" >
        #{cronline,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="btid != null" >
        #{btid,jdbcType=INTEGER},
      </if>
      <if test="btname != null" >
        #{btname,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="esex != null" >
        #{esex,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="ebrithday != null" >
        #{ebrithday,jdbcType=VARCHAR},
      </if>
      <if test="entrytime != null" >
        #{entrytime,jdbcType=VARCHAR},
      </if>
      <if test="departuretime != null" >
        #{departuretime,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="ecard != null" >
        #{ecard,jdbcType=VARCHAR},
      </if>
      <if test="etel != null" >
        #{etel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ecardid != null" >
        #{ecardid,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="ejob != null" >
        #{ejob,jdbcType=VARCHAR},
      </if>
      <if test="emariage != null" >
        #{emariage,jdbcType=VARCHAR},
      </if>
      <if test="eaddress != null" >
        #{eaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectonepay" parameterType="java.lang.Integer" resultType="com.icss.bean.ViewSigpayinfo">
  SELECT 
  <include refid="Base_Column_List" />
   FROM view_sigpayinfo WHERE cid = #{cid,jdbcType=INTEGER}
  </select>
  
  <!-- 查看学员所交住宿费用  -->
  <select id="payacco" parameterType="java.lang.Integer" resultType="com.icss.bean.ViewSigpayinfo">
  	SELECT crname,crsex,crage as 'aid', prpaymoney as 'creceivables',cdcaidid as 'ecardid',sid as 'cremark'
	FROM pay_record pr INNER JOIN empinfo e ON e.eid = pr.prhandler 
	INNER JOIN pay_code pc ON pc.cid = pr.prpaycode
	INNER JOIN customerinfo c ON c.crid = pc.crid
	INNER JOIN detailed d ON d.cdid = c.crid
	INNER JOIN students s ON s.crid = c.crid
	WHERE pr.prpaycode=(
	SELECT p.cid FROM pay_code p WHERE p.crid=#{crid,jdbcType=INTEGER} ) and pr.prpaytype = 2
  </select>
  
</mapper>